node_modules
.next
out
build
coverage
__tests__
e2e
playwright.config.ts
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
.git
.gitignore
.env*
!.env.local.example
Dockerfile
.dockerignore
README.md
